/* Estilos generales */
/* propiedades de bootstrap y flex de bootstrap en el contenedor
 para ahorrar escritura en cada clase */
section { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Rubik Dirt', cursive;
}

.seccion-oscura {
  color: white;
  background-color: #1b1b32;
}
.seccion-color3 {
  color:#615151;
  background-color:#bbcd77;
}
.seccion-color4 {
  color: black;
  background-color: #dc8051
  }
.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Rubik Dirt', cursive;
}

.seccion-texto {
  font-size: 1.2rem;
  color:white;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color:#0a4b75

}
/* Barra de navegacion */

.navbar {
    padding: 2rem;
    background-color:#dc8051;
  }
  
  .navbar-collapse {
    align-items: center;
    justify-content: space-between;
  }

  /* Seccion principal */
  .principal {
    min-height: 450px;
    text-align: center;
  }
/* para darle mas aire al contenido principal 
ademas del flex bootstrap aplicado en la clase */
  .contenido-principal {
    padding: 3rem;
  }

  .principal-imagen-desarrollador {
    height: 200px;
    margin: 20px;
  }
  .principal h2 {
    font-size: 1.5rem;
    color: #615151;
  }
  /* Seccion Sobre mi */

.sobre-mi {
  height: 500px;
  padding: 10px;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}

/* Experiencia */

.experiencia {
  padding: 40px 40px 60px 40px;
}

.experiencia .columna {
  padding: 20px;
  border: 2px solid #f4d279;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
  color: white;
  background-color: #c1ddc7;
}
.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
  color: #0a4b75;
}

.experiencia i {
  font-size: 2.5rem;
  color: #dc8051;
  background-color: #f5e8c6;
  padding: 8px 19px;
  border-radius: 50%;
}
article {
  max-height: 200px;
  overflow: hidden;
  transition: max-height 1s;
}
article.abierto {
  max-height: 400px;
}
/* Proyectos */

.proyectos-recientes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.proyectos-contenedor {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 40px;
}

/* Contacto */

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -2rem;
  background-color: #dc8051;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: white;
  color: black;
}

.contacto button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: black;
}

/* Pie de pagina (footer) */

footer {
  min-height: 300px;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}

/* media querys para casos responsivos */
  
  @media screen and (max-width: 767px) { /* quitar la imagen para ese ancho de viewport */
    .navbar-brand {
      display: none;
    }
  }
  @media screen and (min-width: 900px) {
    .principal-inferior-imagen {
      max-width: 800px;
    }
  }